<!DOCTYPE HTML>
<html>
    <head>
        <title>Releated Movies</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i" rel="stylesheet">
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/fonts/fontawesome-webfont.svg"></script>-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        
        
        