<% include partials/header %>

<h1>
    Welcome!! Type in your movie and find its ratings!!
</h1>
<div class="home"> 
    <p>Type In your Movie in the below Box</p>
    <br>
    <br>
    <form action="/ratings" method= "POST">
        <span><i class="fas fa-film"></i></span><input name="movieName" type="text" placeholder="      movie name">
        <button>search</button>
    </form>
</div>
<br>
<br>



<% include partials/footer %>